#brief{
  width:100vw;
  min-height:100vh;
  background-image: url(../images/brief-background.png);
  background-size: cover;
}

.mobile #something{
  width:100vw;
  height:100vh;
}

#brief h1{

  text-align: center;
}
.brief-text{
 color:white;
}

#briefs-box h1{
  color:  white;
  text-align: center;
  padding-top:5vh;

}

#brief .box .btn{

}
.btn-briefs{
  height:3em;
  width:10em;
  position: absolute;
  bottom:15vh;
  display:table-cell;
  vertical-align:middle;
  left: 0;
  right: 0;
  bottom: 5vh;
  margin: 0 auto;

}


#briefs-box{
  margin-top: 2vh;
}
#briefs-box p{
  font-size: 1.2em;
  font-weight: 400;
  color:#35e1a2;
}
.mobile-brief h1{
  color:  white;
  text-align: center;
  padding-top:18vh;


}



#brief h3{
  text-align: center;
  font-weight: ;
}

#brief p{
  text-align: center;
}

#brief .box{
  height: 32em;
  position:relative;
}
@media screen and (min-width: 50em){
  #brief .box {
    width: calc(27% - 10px);
  }
}

#box-container{
  width:100%;
  text-align:center;
}

#vehicle-safety{
  margin:0 auto;
  background-image: url(../images/vehicle_safety2.png);
  background-size: cover;

}
#vehicle-safety h1{
  line-height: 12vh;
}

#vehicle-safety p{
  padding-top:2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

#mistakes-vulnerability{
  margin:0 auto;
  background-image: url(../images/mistakes_vulnerability.png);
  background-size: cover;

}

#mistakes-vulnerability h1{
  line-height: 12vh;
}

#mistakes-vulnerability p{
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;

}

#shared-responsibilty{
  margin:0 auto;
  background-image: url(../images/shared_responsibilty.png);
  background-size: cover;
}



#shared-responsibilty h1{
  line-height: 13vh;
}

#shared-responsibilty p{
  padding-left: 1vw;
  padding-right: 1vw;
}