.dotoverlay{
}
body{
  background-color: #000;
}
.brief .dotoverlay {
  position: absolute;
}
.brief .btn-btm{
  position: relative;
  margin-bottom: 2em;
}

#sharedresponsibility{
  min-height: 130vh;
  background-image: url(../images/shared_responsibilty_background.png);
  background-size: cover;
}
#vulnerability{
  min-height:130vh;
  background-image: url(../images/vulnerability_background.png);
  background-size: cover;
}

#vehiclesafety{
  min-height:130vh;
  background-image: url(../images/vehicle_safety_background.png);
  background-size: cover;
}
.brief h1{
  padding-top: 12vh;
}
.brief h2{
  /*font-size: 4vh;*/
  width:80vw;
  margin: 0 auto;
  margin-bottom: 10vh;
}
.brief p{
  color:white;
  text-align: left;
}
#main-content ul li{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
li{
  color:white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/*.brief a{
  color: #3cfdb6;
  font-weight: bold;
}
.brief a:hover{
  color:white;
  text-decoration: underline;
}*/

#main-content p{
    text-align: left;
}
.left{
  float:left;
  width: 45vw;
  margin-left: 10vw;
}
.right{
  float:right;
  width: 30vw;
  margin-right: 10vw;
  min-width: 15em;
}
.download-btn{
  font-family: Nanami-Bold;
  color:#3cfdb6;
  font-size: 1em;
  padding-left:1vw;
  margin-bottom: 5vh;
  border:1vh dotted #3cfdb6;
  height:4em;
  line-height: 3.5em;
  text-align: center
}
.download-btn:hover{
  color:#000;
  background-color:#3cfdb6;
}
#side-bar{
  background-color: #3cfdb6;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(60,253,182,1);
  -moz-box-shadow: 0px 0px 50px 0px rgba(60,253,182,1);
  box-shadow: 0px 0px 50px 0px rgba(60,253,182,1);
}
#side h3{
  padding:4vh;
  color:#000;
  text-align: center;
}
#side ul{
  padding-left:1vw;
  color:#000;
}
#side li{
  padding-bottom:5vh;
  font-size: 2vh;
  color:#000;
  padding-right:1vw;
}
#side-bar a{
  color:black !important;
  font-weight: bold;
}
#side-bar a:hover{
  text-decoration: underline;
}
#side-bar p{
  color:black !important;
  padding-left: 1em;
}
#entry-form h1{
  padding-top: 12vh;
  color:white;
}
#entry-form form{
  width:33vw;
  position: relative;
  margin:0 auto;
}
#entry-form input{
  position: absolute;
  width:100%;
  padding:2%;
}
#info-box{
  border: 2px solid white;
}
#info-box input{
  display:inline-block;
}
.med-input{
  width:50%;
}
.download-mobile{
  display: none;
}
footer p{
  text-align: center !important;
}

footer a {
  font-weight: normal !important;
}

@media only screen and (min-device-width : 1439px){

    #brief h2{
    width:60vw;
    margin: 0 auto;
    margin-bottom: 10vh;
  }
}

@media only screen and (max-width: 873px){

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

/*  .brief .dotoverlay{
    height:300vh;
  }*/
  .main-content p{
    font-size: 1em;
  }
  .brief h2{
    font-size: 1em;
  }
  .brief li{
    font-size: 1em;
  }
  .dotoverlay{
    height:auto !important;
  }

}
@media only screen and (min-width : 1824px) {
  .main-content ul li{
    font-size: 1.5em !important;
  }

}
@media only screen and (max-width : 1100px) {

}

@media only screen and (max-width : 768px){

}