/*NEED MEDIA FOR THIS PAGE*/
      #entries-page{
        background-image:url(../images/entries.png);
        background-size: cover;
      }
      #entries-page h1{
        padding-top: 12vh;
      }
      #entries-page h2{
        font-size: 4vh;
        width:80vw;
        margin: 0 auto;
        text-align: left;
        font-weight: 100;
      }
      #entries-page p{
        text-align: left;
      }
      #entries-page b{
        color:#35e1a2;
        font-family: Nanami-Bold;
      }
      #entries-page ul{
        margin-left: 4vw;
      }
      #entries-page li{
        text-align: left;
        color:white;
        list-style: none;
        padding-bottom: .5vh;
        padding-top: .5vh;
      }
      #entries-page li span{
        color:#35e1a2;
      }

      #entries-page article{
        margin-top: 5vh;
        margin-left: 20vw;
        margin-right: 20vw;

      }
      #button-section{
        position: absolute;
        top: 58vh;
        left:60vw;
      }

      #entries-page .box{
        background-color:red;
        margin-right:0px;
        margin-bottom:0px;
        height:34vh;
        position: relative;
        background-size: cover;
        margin:0 auto;
        width:25%;
      }

      #entries-page .box h1{
        padding-top:2vh;
        text-align: center;
        font-size: 4vh;
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
      }

      #entries-page .box img{
        max-height: 12vh;
        position:absolute;
        margin-top:10vh;
        left:0;
        right:0;
        top:0;
        bottom: 0;
      }
      #entries-page .box p{
      position: absolute;
      margin-top:30vh;
      margin:0 auto;
      left:0;
      right:0;
      bottom:0;

      }
      #filter{
        background-color:#35e1a2;
        width:100vw;

      }
      #filter .btn-try{
        background-color: transparent;
        border:2px solid #000;
        float:right;
      }
      #filter select{
        background-color: #000;
        color: #35e1a2;
        font-size: 18px;
        font-family: Nanami-Bold;
        text-align: center;
        height: 3em;
        padding-right: 3em;
      }
      #filter h1{
        color: #000;
      }
      .filter-btn{
        height: 3em;
        width: 11em;
        color: #35e1a2;
        border: 2px solid #35e1a2;
        position: relative;
        display: block;
        vertical-align: middle;
        text-align: center;
        padding: 2px;
        font-size: 2em;
        font-family: Nanami-Bold;
        font-size: 18px;
        line-height: 3em;
        margin:0 auto;
        margin-bottom:1em;
      }

      .filter-btn:hover{
        background-color: #35e1a2;
        color:#000;
      }