.dotoverlay{
  position: relative !important;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}
.entry-page{
  background-image: url(../images/green_background_new.png);
  background-size: cover;
  background-color: #35e1a2;
  min-height: 100vh;
  height: auto;
}
#name{
  padding-top: 9vh;
}
.entry-page h1{
  padding-top: 1vh;
  color:#000;
}
.entry-page h2{
  font-size: 3vh;
  width:80vw;
  margin: 0 auto;
  margin-bottom: 2vh;
  text-align: left;
  color:#000;
  text-align: center;
}
.entry-page p{
  text-align: center;
  margin-bottom: 0;
}
.entry-page ul{
  margin-left: 4vw;
}
.entry-page li{
  text-align: left;
  color:white;
  list-style: none;
  padding-bottom: .5vh;
  padding-top: .5vh;
}

.btn:hover{
  color:white;
   border: 2px solid #FFF !important ;
}

#side{
  padding-top: 1em;
  height: 18em;
  width: 4em;
  background-color: #000;
  position: fixed;
  right:0;
  top:20vh;
}

#side img{
  margin-left:1vw;
  max-width: 6vw;
  max-height: 6vh;
}
#side span{
  color:white !important;
  font-size: 1.5vh;
  margin-left:2vw;
}
#side p{
  font-size: 1.5vh;
  margin:0 auto;
  color:white;
}

.ped{
  color:#000;
  font-size: 3vh;
}

#description{
  width: 90%;
  margin:0 auto;
  margin-top:2vh;
  margin-bottom: 2vh;
}

b{
  color: #000;
}
  .entry-box{
    width:45vw;
    margin:0 auto;
  }

video{
  background-color:#000;
  /*margin-left: 20vw;*/
  margin-top:2vh;
  margin: 0 auto;
  height:auto;
  width: auto;
  min-width: none !important;
  min-height: none !important;
}
.btn-try{
  /*position: absolute;*/
  left:0;
  right:0;
  bottom:2vh !important;
  margin:auto;
  display: block !important;
  margin-top: 2vh;
}
.checkbox-text{
  font-size: 0.6em;
  text-align: left;
  padding-left: 0;
}

#votePopup{
  margin-top: 8vh;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #3cfdb6;
}
#votePopup input{
  border:2px solid #000;

}
#votePopup h1{
  color: #000;
}
#votePopup .row{
  margin-bottom: 5%;
}
#votePopup .btn{
  border: 2px solid #000 !important ;
  color: #000;
  font-family: Nanami-Bold;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  width:100%;
  height:3em;
}
.left-arrow-entry{
      position: absolute;
      left: 15vw;
}
.right-arrow-entry{
      position: absolute;
      right: 15vw;
}
#title_id{
  line-height: 2em;
}
#audio-play-box{
  background-image:url(assets/images/audio-play.png);
  background-size:cover;
  padding-left:9vh;
  height: 100%;
}
#audio-play-box img{
  height: 100%;
}
#image-entry-page p{
  text-align: center;
  margin-bottom: 0;
  padding-right: 4em;
}
#text-entry{
width:70vw;
margin:0 auto;
}

.entry-page footer{
  width:100%;
  margin-top:6vh;
}

@media only screen and (max-width : 320px) {
  .dotoverlay{
    position: relative !important;
/*    height:110vh;*/
  }
  .entry-page{
    /*height:110vh;*/
  }
  .entry-box{
    width:90vw;
    margin:0 auto;
  }
}
@media only screen and (max-width : 684px) {
  #side{
    display:none;
  }
.left-arrow-entry{
      position: absolute;
      left: 0;
}
.right-arrow-entry{
      position: absolute;
      right: 0;
}
.entry-box{
    width:90vw;
    margin:0 auto;
  }
  #votePopup{
    width:100%;
    margin-top: 0;
  }
  #image-entry-page p{
    padding-right: 0;
  }

}

.entries-btn{
  border: 2px solid #000;
  height:3em;
  width:11em;
  display: block;
  margin:0 auto;
  line-height: 3em;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;

}
.entry-btn-section{
  width:50vw;
  margin:0 auto;

}














