#main-content{
  padding-left:29vw;
  width:70vw;
}
#guidelines-page{
  min-height:100vh;
  background-image:url(../images/guidelines.png);
  background-size: cover;
}
#guidelines-page h1{
  padding-top: 12vh;
}
#guidelines-page h2{
  font-size: 4vh;
  width:80vw;
  margin: 0 auto;
  text-align: left;
  font-weight: 100;
}
#guidelines-page p{
  text-align: left;
  color:white;
  margin-bottom: 0;
}
#guidelines-page li{
  text-align: left;
  color:white;
  padding-bottom: .5vh;
}
@media only screen and (max-width : 1023px) {
  #guidelines-page h2{
    font-size: 4vh;
    width:80vw;
    margin: 0 auto;
    text-align: left;
    font-weight: 100;
    margin-left: 14vw;
  }
  #guidelines-page p{
    text-align: left;
    color:white;
  }
  #main-content {
      padding-left: 15vw;
      width: 100vw;
    }
}
@media only screen and (max-width : 684px) {
  #main-content{
  padding-left: 0vw;
  width: 100vw;
  }
}
