#header{
  width:100vw;
  min-height:auto;
  position: relative;
  background-position: center;
  min-height: 100vh;
  height:auto;

}
#header-content{
  /*padding-top:7vh;*/
  /*position: absolute;*/
  z-index: 1;
  left: 0;
  right: 0;
  height:100%;
}

#header-logo{
  margin:0 auto;
  max-width:530px;
}

#header-logo img{
  display:block;
  max-width: 33vw;
  height:auto;
  margin:0 auto;
  min-width: 250px;
}

#header h1{
  text-align: center;
  margin:0 auto;
  padding-bottom: 20px;
  font-size: 2em;
}

#header p{
  text-align: center;
  margin:0 auto;
  color:#35e1a2;
  padding-bottom: 2vh;
}


.header-video {
  position: relative;
  overflow: hidden;
}

.header-video iframe,
.header-video video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-video iframe {
  height: 100%;
  width: 100%;
}

.header-video video {
  width: 100%;
}

.header-video__teaser-video {
  width: 100%;
  height: auto;
}

.header-video__media {
  width: 100%;
  height: auto;
}

.header-content{
    z-index: 3;
    position: relative;
    overflow: scroll;
    max-height: 100vh;
}