#top-bar{
        /*background-color: black;*/
      }
      #judging{
        height:100vh;
        /*background-image: url(../images/judging.png);*/
        background-image: url(../images/background.png);
        background-size: cover;
      }
      #judging h1{
        padding-top: 12vh;
        color:#2ec88f;
      }
      #judging p{
        text-align: left;
        color:white;
      }
      #judging b{
        color:#2ec88f;

      }
      #judging a{
        color:#2ec88f;
        font-size: 2vh;
        text-decoration: underline;
      }
      #judging #info{
        margin-bottom: 0px;
      }

      #main-content{
        margin-top: 10vh;
        padding-left:30vw;
        width:70vw;
      }





      #entry-form form{
        width:33vw;
        /*display:inline;*/
        position: relative;
        margin:0 auto;
      }
      #entry-form input{
        position: absolute;
        width:100%;
        padding:2%;
      }
      #info-box{
        border: 2px solid white;
      }
      #info-box input{
        display:inline-block;
      }
      .med-input{
        width:50%;
      }

      @media only screen and (max-width : 684px) {
        #main-content{
          margin-top: 3vh;
          padding-left:10vw;
          width:90vw;
        }
      }
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        #main-content{
          margin-top: 10vh;
          padding-left:10vw;
          width:90vw;
        }


      }