.menu, .exit, .image-black, .image-green, .image-icon, .text-black, .text-green, .text-icon, .audio-black, .audio-green, .audio-icon, .video-black, .video-green, .video-icon, .arrow-black, .arrow-right, .arrow, .image-hover, .video-hover, .text-hover, .audio-hover{
	background: url(../images/sprites.png) no-repeat;
}

.menu{
	/*background-position: 0 0;*/
	    background-position: -9px -11px;
	width: 63px;
	height: 70px;
	transform:scale(0.7);
}

.exit{
	background-position: 0px -4px;
	width: 42px;
	height: 49px;
	transform:scale(0.9px);
}

.image-black{
  background-position: 0 -88px;
  width: 115px;
  height: 113px;
}

.image-green{
	background-position: -116px -101px ;
	width: 115px;
	height: 88px;
}

.image-icon{
	background-position: -232px -101px ;
	width: 115px;
	height: 88px;
}

.text-black{
	background-position: 0 -200px ;
	width: 115px;
	height: 113px;
}

.text-green{
	background-position: -117px -201px ;
	width: 115px;
	height: 113px;
}

.text-icon{
	background-position: -250px -200px ;
	width: 79px;
	height: 105px;
}

.audio-black{
	background-position: 0 -313px ;
	width: 115px;
	height: 113px;
}

.audio-green{
	background-position: -116px -313px ;
	width: 115px;
	height: 113px;
}

.audio-icon{
	background-position: -245px -311px ;
	width: 62px;
	height: 121px;
}

.video-black{
	background-position: -1px -451px ;
	width: 115px;
	height: 113px;
}

.video-green{
	background-position: -117px -451px ;
	width: 115px;
	height: 113px;
}

.video-icon{
	background-position: -233px -451px ;
	width: 115px;
	height: 113px;
}

.arrow-black{
	background-position: -176px 0;
	width: 66px;
	height: 43px;
}

.arrow-right{
	background-position: -243px 0;
	width: 43px;
	height: 66px;
}

.arrow{
	background-position: -109px 0;
	width: 66px;
	height: 43px;
}
.text-hover{
	background-position: -350px -201px;
	width: 115px;
	height: 113px;
}
.image-hover{
	background-position: -350px -89px;
	width: 115px;
	height: 113px;
}
.video-hover{
	background-position: -350px -451px;
	width: 115px;
	height: 113px;
}
.audio-hover{
	background-position: -351px -312px;
	width: 115px;
	height: 113px;
}

