


/*

************* FONT

Main Heading - nanami extra light - 53 px - green

text - roboto light - 25px - green

button - Nanami bold - 24px - green

*****************

headings Nanami extra light - 40px - green

brief text - roboto light - 22.6px - white

Brief box headings -Nanami extra light - 53px - white

bref box text - Roboto Regular - 32px - green

brief box button - Nanami bold - 24px - green

***********************

Enter Heading -Nanami extra light - 40 px - white

enter text - roboto medium - 22.6px - white

enter icon headings -  roboto regular - 28 px - white

enter box - Nanami bold - 24px - white

**********************

Entries heading - nanami extra light - 40 px -  green

entries text -roboto light -22.6 px - green

entries thing headings - Roboto Regular -32px -  green

entries follow -

entries see more - Nanami Bold - 32px - green

********************

contact us heading - Nanami extra light  40px - white

text - Roboto medium - 22.6px - white

label -Nanami Light -22.6px - gray

*********************

footer thing - nanami Extra light - 53.3px - green

footer text -Roboto Thin - 22.6 - green








*/
.greenoverlay {
    background: green;
    z-index:;
    height:34vh;
}

.dotoverlay{

}


h1{
  color:#35e1a2;
  font-size: 5vh;
  font-family: Nanami-ExtraLight;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

h2{
  color:#35e1a2;
  font-size: 30px;
}

h3 {
  color:#35e1a2;
  font-size: 24px
}

h5 {
  color:#35e1a2;
  font-size: 20px;
  }

h6 {
  color:#35e1a2;
  font-size: 18px;
  font-family: Nanami-Bold;
  text-align: center;

}

p {
  color:white;
  font-size:2vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

figcaption{
  color: #fff;
  font-family:'Roboto', sans-serif;
  font-weight:400;
}

.container{
  z-index: 0;
}

.section{
  height:100%;
}

.content{
padding-top:12vh;
}

#top-bar{
  width:100%;
  /*background-color: black;*/
  position:fixed;
  overflow:visible;
  top:0;
  z-index: 1 !important;
  height:10vh;
}

#logo img{
  display:block;
  /*max-height:80px;*/
  float:left;
  position:absolute;
  padding-left:1vw;
  height: 10vh;

}
#menu{
  padding-top:1vh;
}

#menu img{
  max-height:60px;
  position:absolute;
  right:0;
  padding-right:1vw;
  height:8vh;

}

#header{
  width:100%;
  height:100%;
  background-image: url(../images/background.png);
  background-size: cover;
}
.wrapper{
  position: relative;
  width:100%;
  height:100%;
  background-image: url(../images/Dots.png);
}
#header-logo{
  margin:0 auto;
  max-width:530px;
}
#header-logo img{
  display:block;
  max-width: 33vw;
  height:auto;
  margin:0 auto;
}
#header h1{
  text-align: center;
  width:60vw;
  margin:0 auto;
  padding-bottom: 20px;
}

#header p{
  text-align: center;
  width:50vw  ;
  margin:0 auto;
  color:#35e1a2;
  /*font-weight: lighter;*/
}

#header .btn{
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  position: absolute;

}

.btn{
  height:10vh;
  width:20vw;
  min-height:65px;
  min-width:240px;
  border: 2px solid #35e1a2;
  left: 0;
  right: 0;
  margin: auto;
  display:table-cell;
  vertical-align:middle;
}

.btn:hover{
  height:65px;
  width:240px;
  border: 2px solid #35e1a2;
  margin:0 auto;
  margin-top: 40px;
  background-color: #35e1a2;
}

.btn:hover h6{
margin:0 auto;
width: 100%;
text-align: center;
color:black;
}

.btn h6{
margin:0 auto;
width: 100%;
text-align: center;
top:50% ;
line-height: 10vh;
}

.arrow{
  width: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}


#brief{
  width:100%;
  height:100%;
  background-image: url(../images/brief-background.png);
  background-size: cover;
}

#briefs-content{
  padding-top:90px;
}

#brief h1{

  text-align: center;
}

#briefs-box h1{
  color:  white;
  text-align: center;

}

#brief .box{

}


#briefs-box p{
font-size: 3vh;
font-weight: 400;
color:#35e1a2;


}


#brief h3{
  text-align: center;
  font-weight: ;
}

#brief p{
  text-align: center;
}

/*.box-wrapper{
    margin:0px auto;
    width:100%;
}
.box-container{
    width:100%;
    text-align:center;
}*/

#brief .box{
  border:1px solid #35e1a2;
  height: 60vh;
}

#box-wrapper{
    margin:0px auto;
    width:100%;
}
#box-container{
    width:100%;
    text-align:center;
}

#vehicle-safety{
/*  width:33%;
  float:left;*/
  margin:0 auto;
  background-image: url(../images/vehicle_safety.png);
  background-size: cover;
  padding-left: 4vw;
  padding-right: 4vw;

}
#mistakes-vulnerability{
/*  width:33%;
  display:inline-block;*/
  margin:0 auto;
  background-image: url(../images/mistakes_vulnerability.png);
  background-size: cover;
  padding-left: 4vw;
  padding-right: 4vw;

}
#shared-responsibilty{
  margin:0 auto;
  background-image: url(../images/shared_responsibilty.png);
  background-size: cover;

}
#shared-responsibilty h1{
  padding-left: 4vw;
  padding-right: 4vw;
}

#shared-responsibilty p{
  padding-left: 1vw;
  padding-right: 1vw;
}


#enter{
  width:100%;
  height:10 0%;
  background-color: #29f8bc;
}

#enter h1{
  color: white;
  text-align: center;
}
#enter p{
  text-align: center;
}

#enter .btn{
  border: 2px solid #fff;
}

#enter .btn h6{
  color: #fff;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}
.box {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 8px);
  margin-right: 8px;
  text-align: center;
}


.box:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .box {
    width: calc(25% - 10px);
  }

  .box:nth-of-type(2n) {
    margin-right: 8px;
  }

  .box:nth-of-type(4n) {
    margin-right: 0;
  }

  #entries .box{
    width:25%;
  }
  #entries .box:nth-of-type(2n) {
    margin-right: 0px;
  }


}

.box:hover img {
}

figure {
  margin: 0;
}

.box img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  margin:0 auto;
  max-height:10vh;
}

#image img{
  padding-bottom: 5px;
}





#entries-header{
  height: 20%;
  background-image: url(../images/entries_header.png);
  background-size: cover;
  top:0;
  /*position: absolute;*/
  width: 100%;
  max-height: 200px;
  padding-top:5vh;
}

#entries{
  width:100%;
  height:100vh;
  background-color: black;
}
#entries .box{
  background-color:red;
  margin-right:0px;
  margin-bottom:0px;
  height:34vh;
  max-height: 350px;
  background-size: cover;
}

#entries-footer h6 {
  line-height:10vh;

}

#contact{
  width:100%;
  height:100%;
  background-color: #35e1a2;
}

#contact h1{
  color: white;
}
#signoff{
  width:100%;
  height:90%;
  background-image: url(../images/signoff.png);
  background-size:cover;
}

#signoff h1{
padding-left:28vw;
padding-right:28vw;
}

footer{
  width:100%;
  height:10%;
  background-color: black;
  ;
}
footer p{
  color:#35e1a2;
  line-height:10vh  ;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

#logo img{
  padding-left: 0%;
  max-height:65px;
}
  #header-logo{
  margin:0 auto;
    max-width:351px;
}
#header-logo img{
  display:block;
  max-width: 100%;
  height:auto;
  padding:5%;
  padding-top:15vh;
}
#header h1{
  text-align: center;
  width:90%;
  margin:0 auto;
  padding-bottom: 20px;
  font-size: 21px;
  font-weight: normal;
}

#header p{
  text-align: center;
  width:70%;
  margin:0 auto;
  color:#35e1a2;
  font-weight: lighter;
  padding-top:10px;
  font-size: 14px;
  font-weight: normal;
}

.btn{
  height:65px;
  width:240px;
  border: 2px solid #35e1a2;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  position: absolute;
}

.btn:hover{
  height:65px;
  width:240px;
  border: 2px solid #35e1a2;
  margin:0 auto;
  margin-top: 40px;
  background-color: #35e1a2;
}

.btn:hover h6{
margin:0 auto;
width: 100%;
text-align: center;
padding-top: 23px;
color:black;
}

.btn h6{
margin:0 auto;
width: 100%;
text-align: center;
padding-top: 23px;
font-family:'Roboto', sans-serif;
font-weight: 700;
}


#arrow{
  width: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

#arrow img{

}
#enter{
  height:100%;
}

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #logo img{
  padding-left: 0%;
  max-height:65px;
}
#header-content{
  height:100%;
  width: 100%;
}
  #header-logo{
  margin:0 auto;
  max-width:351px;
}
#header-logo img{
  display:block;
  max-width: 100%;
  height:auto;
  padding:5%;
  padding-top:15%;
}
#header h1{
  text-align: center;
  width:90%;
  margin:0 auto;
  padding-bottom: 20px;
  font-size: 21px;
  font-weight: normal;
}

#header p{
  text-align: center;
  width:70%;
  margin:0 auto;
  color:#35e1a2;
  font-weight: lighter;
  padding-top:10px;
  font-size: 14px;
  font-weight: normal;
}

.btn{
  height:65px;
  width:240px;
  border: 2px solid #35e1a2;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  position: absolute;
}

.btn:hover{
  height:65px;
  width:240px;
  border: 2px solid #35e1a2;
  margin:0 auto;
  margin-top: 40px;
  background-color: #35e1a2;
}

.btn:hover h6{
margin:0 auto;
width: 100%;
text-align: center;
padding-top: 23px;
color:black;
}

.btn h6{
margin:0 auto;
width: 100%;
text-align: center;
padding-top: 23px;
}


#arrow{
  position:absolute;
  width: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#arrow img{

}
#enter{
  height:100%;
}

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@media only screen and (max-height : 700px ){
  .test {
    outline-color:blue;
  }
}