


/*
************* FONT

Main Heading - nanami extra light - 53 px - green

text - roboto light - 25px - green

button - Nanami bold - 24px - green

*****************

headings Nanami extra light - 40px - green

brief text - roboto light - 22.6px - white

Brief box headings -Nanami extra light - 53px - white

bref box text - Roboto Regular - 32px - green

brief box button - Nanami bold - 24px - green

***********************

Enter Heading -Nanami extra light - 40 px - white

enter text - roboto medium - 22.6px - white

enter icon headings -  roboto regular - 28 px - white

enter box - Nanami bold - 24px - white

**********************

Entries heading - nanami extra light - 40 px -  green

entries text -roboto light -22.6 px - green

entries thing headings - Roboto Regular -32px -  green

entries follow -

entries see more - Nanami Bold - 32px - green

********************

contact us heading - Nanami extra light  40px - white

text - Roboto medium - 22.6px - white

label -Nanami Light -22.6px - gray

*********************

footer thing - nanami Extra light - 53.3px - green

footer text -Roboto Thin - 22.6 - green


**************BREAKPOINTS****************

1030 width (1024 to be exact)
  Noticed:
    - Buttons text miss align
      Solution:
        remove the previous media queries
    - Fix Briefs Section containers miss aligned

800 width(799)
  Noticed:
    -Brief box goes to two columns
      Solution:
        -Display None
        - start working on JS for the scroll next functionallity
    -Entries goes to pairs of 2
      Solution:
        - Display None
        - Start working on JS Scroll for next funtionallity
    -Entries padding right
      Solution:
        -remove padding right
    - fix spacing for How to enter icons

414 width ()
  Noticed:
    padding onFirst page
      - change padding - vh???
    more height on footer
    smaller text on signoff


540 height
  Noticed:
    Mistakes Vanrability height alignment is off
*********************************************








*/


    .active{
      background-color: black !important;
      /*display:none;*/
      width: 35vw !important;
      right:0;
    }
    .active img{
      /*margin-top:1vh;*/
    }

html, body {
  background-color: black;
  height:100%;
}

.greenoverlay {
    background: #14523a;
    opacity: 0.5;
    z-index:;
    height:34vh;
    margin-bottom: -34vh;
}

.dotoverlay{
  /*background-image: url(../images/Dots.png);*/
  background-image: url(../images/dots2.png);
  height:100vh;
  margin-bottom: -100vh;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;

}


h1{
  color:#35e1a2;
  font-size: 5vh;
  font-family: Nanami-ExtraLight;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  /*min font size 18px*/
}

h2{
  color:#35e1a2;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  /*min font size 12px*/
}

h3 {
  color:#35e1a2;
  font-size: 24px;
  font-family: Nanami-ExtraLight;
  font-weight: normal;
  font-style: normal;
}

h5 {
  color:#35e1a2;
  font-size: 20px;
  }

h6 {
  color:#35e1a2;
  font-size: 18px;
  font-family: Nanami-Bold;
  text-align: center;

}

p {
  color:white;
  font-size:2vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

figcaption{
  color: #fff;
  font-family:'Roboto', sans-serif;
  font-weight:400;
}

.btn-box{

  height:8vh;
  width:15vw;
  border: 2px solid #35e1a2;
  /*display:table;*/
  /*vertical-align:middle;*/
  /*margin:0 auto;*/
  text-align: center;
  line-height: 8vh;
  background-color: #3cfdb6;
  color:#35e1a2;
  font-size: 18px;
  font-family: Nanami-Bold;
  text-align: center;
  text-decoration: none;
  color: black;
  position: absolute;
  left:0;
  right:0;
  margin:0 auto;
  margin-top:25%;
/*  margin-left:5vw;
  margin-top:12vh;*/

}



.container{
  z-index: 0;
}

.section{
  height:100%;
}

.content{
padding-top:10vh;
}

#top-bar{
  width:100%;
  /*background-color: black;*/
  position:fixed;
  overflow:visible;
  top:0;
  z-index: 1 !important;
  height:10vh;
}

#logo img{
  display:block;
  /*max-height:80px;*/
  float:left;
  position:absolute;
  padding-left:1vw;
  height: 10vh;

}


#menu img{
  max-height:60px;
  position:absolute;
  right:0;
  padding-right:1vw;
  height:8vh;
  margin-top: 1vh;

}


.nav{

  padding-top:10vh;
}

.nav a{
  color:#FFF;

}

.nav ul{

  float:right;
  background-color: #2fc78f;
  width: 35vw;
  /*text-align: center;*/
  padding-top: 1vh;
  height:100vh  ;
}

.nav li{
  list-style: none;
  padding-left: 2vw;
  /*height: 5vh ;*/
  line-height: 2;
  /*border-top: 2px solid #3cfdb6;*/
  border-bottom: 2px solid #3cfdb6;
  padding-right:8vw;
}

.nav li:hover{
  background-color:#3cfdb6;
}


#header{
  width:100%;
  height:100%;
  background-image: url(../images/background.png);
  background-size: cover;
}

.wrapper{
  position: relative;
  width:100%;
  height:100%;
  /*background-image: url(../images/Dots.png);*/
}

#header-logo{
  margin:0 auto;
  max-width:530px;
}

#header-logo img{
  display:block;
  max-width: 33vw;
  height:auto;
  margin:0 auto;
  min-width: 250px;
}

#header h1{
  text-align: center;
  width:60vw;
  margin:0 auto;
  padding-bottom: 20px;
  font-size: 4vh;
}

#header p{
  text-align: center;
  width:65vw  ;
  margin:0 auto;
  color:#35e1a2;
  /*font-weight: lighter;*/
}

#header .btn{
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  position: absolute;

}
.btn-header{
  height:10vh;
  width:20vw;
  margin: auto;
  display:table-cell;
  vertical-align:middle;
}

.btn{
/*  height:10vh;
  width:20vw;*/
  /*min-height:65px;*/
/*  min-width:240px;*/
  border: 2px solid #35e1a2;
/*  left: 0;
  right: 0;*/
}

.btn:hover{
  /*height:65px;*/
  /*width:240px;*/
  border: 2px solid #35e1a2;
  /*margin:0 auto;*/
  /*margin-top: 40px;*/
  background-color: #35e1a2;
}

.btn:hover h6{
margin:0 auto;
width: 100%;
text-align: center;
color:black;
}

.btn h6{
margin:0 auto;
width: 100%;
text-align: center;
top:50% ;
line-height: 10vh;
}

.arrow{
  width: 66px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}


#brief{
  width:100%;
  height:100%;
  background-image: url(../images/brief-background.png);
  background-size: cover;
}

.mobile #something{
  width:100vw;
  height:100vh;
}

#brief h1{

  text-align: center;
}

#briefs-box h1{
  color:  white;
  text-align: center;

}

#brief .box .btn{

}
.btn-briefs{
  height:10vh;
  width:20vw;
  position: absolute;
  bottom:15vh;
  margin-left: 2vw;
  margin-right:2vw;
  display:table-cell;
  vertical-align:middle;
}



#briefs-box p{
font-size: 3vh;
font-weight: 400;
color:#35e1a2;
}


#brief h3{
  text-align: center;
  font-weight: ;
}

#brief p{
  text-align: center;
}

/*.box-wrapper{
    margin:0px auto;
    width:100%;
}
.box-container{
    width:100%;
    text-align:center;
}*/

/*.mobile{
  width:300vw !important;
  overflow: none;
  background-color:black;
}*/

#brief .box{
  border:1px solid #35e1a2;
  height: 60vh;
}

#box-container{
    width:100%;
    text-align:center;
}

#vehicle-safety{
/*  width:33%;
  float:left;*/
  margin:0 auto;
  background-image: url(../images/vehicle_safety2.png);
  background-size: cover;

}
#vehicle-safety h1{
  padding-left: 2vw;
  padding-right: 2vw;
  /*line-height: 12vh;*/
}

#vehicle-safety p{
  padding-top:7vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

#mistakes-vulnerability{
/*  width:33%;
  display:inline-block;*/
  margin:0 auto;
  background-image: url(../images/mistakes_vulnerability.png);
  background-size: cover;

}

#mistakes-vulnerability h1{
  padding-left: 2vw;
  padding-right: 2vw;
  /*line-height: 12vh;*/

}

#mistakes-vulnerability p{
  padding-top: 7vh;
  padding-left: 2vw;
  padding-right: 2vw;

}

#shared-responsibilty{
  margin:0 auto;
  background-image: url(../images/shared_responsibilty.png);
  background-size: cover;
}



#shared-responsibilty h1{
  padding-left: 4vw;
  padding-right: 4vw;
}

#shared-responsibilty p{
  /*padding-top:5vh;*/
  padding-left: 1vw;
  padding-right: 1vw;
}



#enter{
  width:100%;
  height:100%;
  background-image: url(../images/greenbackground.png);
  background-size: cover;
}

#enter h1{
  color: white;
  text-align: center;
}
#enter p{
  text-align: center;
}

#enter .btn{
}

#enter .btn h6{
  color: #fff;
}
#enter .box-wrapper{
  margin-top:20vh;
}
.btn-enter{
  height:10vh;
  width:20vw;
  border: 2px solid #fff;
  position: absolute;
  bottom: 10vh;
  left:0;
  right:0;
  color:white;
  margin: auto;
  display:table-cell;
  vertical-align:middle;
}


.box-container {
  display: flex;
  flex-wrap: wrap;
}
.box {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 8px);
  margin-right: 8px;
  text-align: center;
}


.box:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .box {
    width: calc(25% - 10px);
  }

  .box:nth-of-type(2n) {
    margin-right: 8px;
  }

  .box:nth-of-type(4n) {
    margin-right: 0;
  }

  #entries .box{
    width:25%;
  }
  #entries .box:nth-of-type(2n) {
    margin-right: 0px;
  }


}

.box:hover img {
}

figure {
  margin: 0;
}

.box img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  margin:0 auto;
  max-height:10vh;
}

#image img{
  padding-bottom: 5px;
}





#entries-header{
  height: 20%;
  background-image: url(../images/entries_header.png);
  background-size: cover;
  top:0;
  /*position: absolute;*/
  width: 100%;
  max-height: 200px;
  padding-top:5vh;
}

#entries{
  width:100%;
  height:100vh;
  background-color: black;
}
#entries .box{
  background-color:red;
  margin-right:0px;
  margin-bottom:0px;
  height:34vh;
  position: relative;
  background-size: cover;
  margin:0 auto;
  width:25%;
}
.icon{
  display:table;
  /*width:25vw;*/
  /*height:20vh;*/
}
/*.icon div{
  display:table-cell;
  vertical-align:middle;
}*/
.icon img{
  margin-left:auto;
  margin-right:auto;
}



#entries .box h1{
  padding-top:2vh;
  text-align: center;
  font-size: 4vh;
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
}

#entries .box img{
  /*width:25%;*/
  max-height: 12vh;
  position:absolute;
  margin-top:10vh;
  left:0;
  right:0;
  top:0;
  bottom: 0;

  /*margin-left: 7vw;*/


}
#entries .box p{
position: absolute;
margin-top:30vh;
/*margin-left:5vw;*/
margin:0 auto;
left:0;
right:0;
bottom:0;

}

#entries-footer h6 {
  line-height:10vh;

}

#contact{
  width:100%;
  height:100%;
  background-image: url(../images/contact-background.png);
  background-size: cover;
}

#contact h1{
  color: white;
}
#contact form{
margin-top:20vh;
}

#contact #message{
  position:absolute;
  top:41vh;
  width: 30vw;
  height: 14vh;
}

#contact .btn-contact{
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: Nanami-Bold !important;
  border:none;
  margin:0px;
  margin-bottom: 1vw;
  height: 10vh;
  position:absolute;
  top:44vh;
    /* width: 20vw; */
}


#signoff{
  width:100%;
  height:90%;
  background-image: url(../images/signoff.png);
  background-size:cover;
}

#signoff h1{
padding-left:28vw;
padding-right:28vw;
}

footer{
  width:100%;
  height:10%;
  background-color: black;
  ;
}
footer p{
  color:#35e1a2;
  line-height:10vh;
  margin-bottom: 0;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

/* Styles */
}
@media only screen and (max-width : 684px) {
/* Smartphones (portrait) ----------- */

/* Styles */
.btn{
  width:80vw;
}
#top-bar{
  left:0;
  width:100vw !important
}
#top-bar .active{
  ;
}
.nav{
  width:100vw;

}
.nav ul{
  width:100vw;
}

#header h1{
  width:80vw;
  font-size: 3vh;
}
#header p{
width:90vw;
}
#brief p{
/*margin: 0 auto;*/

margin:0 auto;

}

#enter p{
  width:94vw;
  margin:0 auto;
  /*14px*/
}

#enter .box-wrapper {
  margin-top: 10vh;
}

#signoff h1{
  padding-left: 8vw;
  padding-right: 8vw;
  font-size: 3vh;
/*17px*/
}
footer p{
font-size: 6px;

}



}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

  #vehicle-safety p{
    padding-top: 7vh;
  }

  #brief .box{

    width: calc(30% - 10px);
  }
  #breif .box{
    position:relative;
  }

  #brief .box .btn{
    width:25vw;
    bottom:10vh;
  }
  #mistakes-vulnerability p{
    /*padding-top:12vh;*/
  }
  #entry-form form{
    width:70vw;
  }
  #contact #message{
    position:absolute;
    top:41vh;
    width: 40vw;
    height: 13vh;
  }

  #contact .btn-contact{
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: Nanami-Bold !important;
    border:none;
    margin:0px;
    margin-bottom: 1vw;
    height: 10vh;
    position:absolute;
    top:44vh;
    margin-right: 2vw;
    right:0;
      /* width: 20vw; */
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

  #header h1{
    width:80vw;
  }
  #header p{
  width: 85vw;
  }
  #header .btn{
    width:33vw;
  }
  #signoff h1{
    padding-left: 10vw;
    padding-right: 10vw;

  }
  #top-bar{
    left:0;
    width:100vw !important
  }
  #top-bar .active{
    ;
  }
  .nav{
    width:100vw;

  }
  .nav ul{
    width:100vw;
}
  #entry-form form{
    width:70vw;
  }

  #contact #message{
    position:absolute;
    top:41vh;
    width: 30vw;
    height: 13vh;
  }

  #contact .btn-contact{
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: Nanami-Bold !important;
    border:none;
    margin:0px;
    margin-bottom: 1vw;
    height: 10vh;
    position:absolute;
    top:44vh;
      /* width: 20vw; */
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
@media only screen and (max-device-width : 800px ){
  #briefs-box{
    display:none;
  }
  #entries .box-wrapper{
    display:none;
  }
  #top-bar{
  left:0;
  width:100vw !important
}
  #top-bar .active{
    ;
  }
  .nav{
    width:100vw;

  }
  .nav ul{
    width:100vw;
  }
}












@media only screen and (max-height : 700px ){
  .test {
    outline-color:blue;
  }
}

/*@media only screen and (max-width: 1125px ){
  #vehicle-safety p{
    padding-top: 0vh;
  }
}*/



