.dotoverlay{
  height:auto !important;
}
body{
  background-color: #000;
}

#side-bar p{
  color:black !important;
  padding-left: 1em;
}
#brief-page a{
  color: #3cfdb6;
  font-weight: bold;
}
#brief-page a:hover{
  color:white;
  text-decoration: underline;
}
#side-bar a{
  color:black !important;
  font-weight: bold;
}
#side-bar a:hover{
  text-decoration: underline;
}
#brief-page{
  min-height:130vh;
  background-image: url(../images/vehicle_safety_background.png);
  background-size: cover;
}
#brief-page h1{
  padding-top: 12vh;
}
#brief-page h2{
  font-size: 4vh;
  width:80vw;
  margin: 0 auto;
  margin-bottom: 10vh;
}
#brief-page p{
  color:white;
}
#brief-page .dotoverlay {
  position: absolute;
}

#brief-page .btn-btm{
  position: absolute;
}
.main-content p{
    text-align: left;
}
.left{
  float:left;
  width: 45vw;
  margin-left: 10vw;
}
.right{
  float:right;
  width: 30vw;
  margin-right: 10vw;
  min-width: 15em;
}
.download-btn{
  font-family: Nanami-Bold;
  color:#3cfdb6;
  font-size: 1em;
  padding-left:1vw;
  margin-bottom: 5vh;
  border:1vh dotted #3cfdb6;
  height:4em;
  line-height: 3.5em;
  text-align: center
}
.download-btn:hover{
  color:#000;
  background-color:#3cfdb6;
}
#side-bar{
  background-color: #3cfdb6;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(60,253,182,1);
  -moz-box-shadow: 0px 0px 50px 0px rgba(60,253,182,1);
  box-shadow: 0px 0px 50px 0px rgba(60,253,182,1);
}
#side h3{
  padding:4vh;
  color:#000;
  text-align: center;
}
#side ul{
  padding-left:1vw;
  color:#000;
}
#side li{
  padding-bottom:5vh;
  font-size: 2vh;
  padding-right:1vw;
}
#entry-form h1{
  padding-top: 12vh;
  color:white;
}
#entry-form form{
  width:33vw;
  position: relative;
  margin:0 auto;
}
#entry-form input{
  position: absolute;
  width:100%;
  padding:2%;
}
#info-box{
  border: 2px solid white;
}
#info-box input{
  display:inline-block;
}
.med-input{
  width:50%;
}
.download-mobile{
  display:none;
}
  .btn-try{
  bottom:-7vh !important;
}

@media only screen and (min-device-width : 1439px){
    .left{
      float:left;
      width: 40vw;
      margin-left: 19vw;
    }
    .right{
      float:right;
      width: 20vw;
      margin-right: 19vw;
    }
    #brief-page h2{
    width:60vw;
    margin: 0 auto;
    margin-bottom: 10vh;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .left{
    float:none;
    width:80vw;
    margin-left: 10vw;
  }
  .right{
    float:none;
    width:100vw;
    margin-right: 0vw;
  }
   #brief-page .dotoverlay{
    height:300vh;
  }
  .main-content p{
    font-size: 1em;
  }
  #brief-page h2{
    font-size: 1em;
  }
  #brief-page li{
    font-size: 1em;
  }
  .download-btn{
    height: 20vh;
    font-size: 1em;
  }
  .download-mobile{
    display: block;
  }
  .dotoverlay{
    height:auto !important;
  }
  .btn-try{
    bottom:-5vh !important;
  }
}
@media only screen and (max-width : 684px) {
  .download-btn{
    height: 10vh;
    font-size: 1em;

  }
  .download{
    display:none;
  }
}
@media only screen and (max-width : 1100px) {
  .left{
    margin-left: 12vw;
  }
  .right{
    margin-right: 12vw;
  }
}

@media only screen and (max-width : 768px){
    .left{
    margin-left: 7vw;
  }
  .right{
    margin-right: 7vw;
  }

}